<section>
  <div class="comments-container">
    <div class="comment-section">
      <div class="mutual-convo">
        <div class="row">
          <p>
            {{ comment_text }}
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

