<<<<<<< HEAD
<section>
  <div class="comments-container">
=======
 <section>
   <div class="comments-container">
>>>>>>> aa80b0911e6411e445233f28d7f395fba98f8745
    <div class="comment-section">
      <div class="mutual-convo">
        <div class="row">
          <p>
            {{ comment_text }}
          </p>
        </div>
        </form>
      </div>
      
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

