{{!-- display homepage --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Solway&display=swap" rel="stylesheet" />
  <link href="./css/style.css" rel="stylesheet" />

  <title>InstaShoe</title>
</head>

<body>
  <header>

    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i
        class="material-icons white-text">menu</i></a>
      <div id="top-logo" class="logo center black white-text">InstaShoe
        {{#if loggedIn}}
          <button id="logout" class="btn-no-style">logout</button>
        {{else}}
          <a href="/login" class="login-nav">login</a>
        {{/if}}
      </div>
    </div>

    <input id="searchbar_input" name="searchbar_input" type="text" placeholder="Search" class="col s9 offset-s1" />
    <i class="material-icons white-text search_icon" id="search_icon_click">search</i>

    <div id="top-shoe" class="first shoe">
        <img class="header-img" alt="picture of Nike sneaker shoe" src="./images/new-main.jpeg" />
    </div>

  </header>

  <section id="post" class="compare">
    <!-- BODY INSERTED HERE -->
    {{{body}}}
  </section>

  <footer>
    <h4></h4>
  </footer>

  <script src="./javascript/login.js"></script>
  <script src="/javascript/logout.js"></script>
</body>

<script></script>

</html>