{{!-- display homepage --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Solway&display=swap" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />

  <title>InstaShoe</title>
</head>

<body>
  <header>
    <div class="nav-wrapper">
      <ul class="menu">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="/post-upload" class="nav-link">Make a post</a>
        </li>
        {{!-- <li class="nav-item">
          <a href="/public/comment.html" class="nav-link">Comment</a>
        </li> --}}
        <li class="nav-item">
          <a href="/login" class="nav-link">Logout</a>
        </li>
         <li class="nav-item">
              <a href="./home" class="nav-link">Homepage</a>
            </li>
      </ul>
      <button class="hamburger">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
          <i class="menuIcon material-icons white-text">menu</i>
          <i class="closeIcon material-icons">close</i>
        </a>
      </button>

      <div id="top-logo" class="logo center black white-text">InstaShoe</div>
      <input id="searchbar_input" name="searchbar_input" type="text" placeholder=" Search " class="col s9 offset-s1" onclick="InstaBar()" />
      <i class="material-icons white-text search_icon" id="search_icon_click">search</i>
      <ul id="myUL">
        {{#each post_data as |post|}}
        <li><a href="#">{{post.user.username}}</a></li>
        {{/each}}
      </ul>
    </div>



    {{{body}}}
    </section>

    <script src="./javascript/login.js"></script>
    <script src="./javascript/logout.js"></script>
    <script src="./javascript/buy.js"></script>
</body>

<footer>
  <h4></h4>
</footer>

<script></script>
<script src="/public/javascript/homepage.js"></script>
</html>