{{!-- display form --}}
<div id="top-shoe" class="first shoe">
  <img class="header-img" alt="picture of Nike sneaker shoe" src="./images/new-main.jpeg" />
</div>

<ol class="post-list">
  {{#each post_data as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

 <script src="/public/javascript/homepage.js"></script>