{{!-- display login page --}}
<div class="login-container">
  <form action="#">
    <ul>
      <label for="username">Enter username:</label>
      <input type="text" id="username" name="username" /><br /><br />
      <label for="password">Enter password:</label>
      <input type="text" id="password" name="password" /><br /><br />
      <button id="button-login" onclick="('going to comment page')">Submit</button>
    </ul>
  </form>
</div>


