{{!-- display login page --}}
<div class="login-container">
  <form id="login-form">
    <ul>
      <label for="username">Enter username:</label>
      <input type="text" id="username" name="username" /><br /><br />
      <label for="password">Enter password:</label>
      <input type="text" id="password" name="password" /><br /><br />
      <input type="submit" id="submit-btn" value="Submit">
    </ul>
  </form>
  <p>Don't have an account? <a href="/register">Sign Up Here</a></p>
</div>


<script src="/javascript/dashboard.js"></script>


