<div id="post-img">
    <h1>Upload Image</h1>
    <form method="POST" action="/api/posts" enctype="multipart/form-data">
        
        <input type="file" name="image" accept="image/*" />
        <input type="submit" for="image" value="Upload" /> <br> <br>
        <input type="text" name="post_title" id="post_title">
        <label for="post_title"><strong>Title</strong> </label>
        <input type="text" name="post_description" id="post_description">
        <label for="post_description"><strong>Description</strong></label>
    </form>
</div>