{{!-- display sign-up page --}}
<div class="login-container">
  <form action="#">
    <ul>
      <label for="reg-username">Create username:</label>
      <input type="text" id="reg-username" name="reg-username" /><br /><br />
      <label for="email">Enter email address:</label>
      <input type="text" id="email" name="email" /><br /><br />
      <label for="password">Create password:</label>
      <input type="text" id="reg-password" name="reg-password" /><br /><br />
       <button id="button-sign-up" onclick="('going to comment page')">Submit</button>
    </ul>
  </form>
</div>
