{{!-- display sign-up page --}}

<div class="login-container">
  <form id="submit-form">
    <ul>
      <label for="username">Create username:</label>
      <input type="text" id="username" name="username" /><br /><br />
      <label for="email">Enter email address:</label>
      <input type="text" id="email" name="email" /><br /><br />
      <label for="password">Create password:</label>
      <input type="text" id="password" name="password" /><br /><br />
      <form id="new-post-form" method="POST" action="/api/posts" enctype="multipart/form-data">Upload a photo
        <input type="file" name="image" accept="image/*" />
       <button id="button-sign-up" onclick="('going to comment page')">Submit</button>
    </ul>
  </form>
</div>
</body>

<script src="/javascript/register.js"></script>