{{!-- display sign-up page --}}

<div class="login-container">
  <form action="#">
    <ul>
      <label for="username">Create username:</label>
      <input type="text" id="username" name="username" /><br /><br />
      <label for="email">Enter email address:</label>
      <input type="text" id="email" name="email" /><br /><br />
      <label for="password">Create password:</label>
      <input type="text" id="password" name="password" /><br /><br />
      <input type="submit" id="button-sign-up">Submit</input>
    </ul>
  </form>
</div>
</body>

<script src="/javascript/login.js"></script>