{{> post-info purchase }}

{{!-- {{#if loggedIn}} --}}
<section>
      <div class="mutual-convo">
        <!-- <form id="box"> -->
         <p>

         </p>
        </form>
      </div>
      <div class="comments-container">
        <form action="#">
          <textarea
            name="comments"
            id="comments"
            style="font-family: sans-serif; font-size: 1em"
          ></textarea>
        </form>
        <button id="comment-submit" onclick="('going to comment page')">
          Submit
        </button>
      </div>
    </section>
{{!-- {{/if}} --}}

{{> comments post.comments}}

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
{{!-- {{/if}} --}}