<div id="sold-img">
    <div style="margin-top: 4rem;">
        <h1>Sold</h1>
    </div>
    
    <div style="Sold-container">
        <form id="sold-form" method="POST" action="/api/soldID" enctype="multipart/form-data">
        
        <input type="file" name="image" accept="image/*" />

        <input type="text" name="sold_title" id="sold_title">
        <label for="sold_title"><strong>Item sold</strong> </label>

        </form>
    </div>
</div>

<script src="/javascript/sold.js"></script>